/* line 1, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body {
  border-spacing: 0;
  border-collapse: collapse;
  height: 100%;
  background-color: #fff;
  color: #333;
  width: 100%;
  font-family: Helvetica Neue, Arial, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
/* line 11, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body td {
  font-family: Helvetica Neue, Arial, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
}
/* line 17, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body > tbody > tr > td {
  padding: 50px 10px;
  text-align: left;
  vertical-align: top;
}
/* line 23, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  max-width: 500px;
  width: auto;
}
/* line 30, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container > tbody > tr > td {
  padding: 10px 0;
}
/* line 34, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .logo {
  padding: 0 0 15px;
}
/* line 37, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .logo img {
  max-width: 113px;
}
/* line 42, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .community-name {
  border: 0;
  color: #9b9b9b;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding: 0 0 15px;
  text-align: left;
}
/* line 52, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .person-name {
  color: #3c3c3c;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  text-align: left;
}
/* line 58, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container h1 {
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}
/* line 64, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
  color: #333;
}
/* line 71, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container blockquote {
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  margin: 0 0 30px;
  padding: 14px 24px 16px;
}
/* line 81, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .user-info {
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background: #e3e3e3;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 30px;
  padding: 14px 24px 0px;
}
/* line 91, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container a {
  text-decoration: none;
}
/* line 95, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .text-bold {
  font-weight: bold;
}
/* line 99, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-action {
  padding: 0;
}
/* line 103, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-action-button {
  border: 0;
  box-shadow: none;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 1.5;
  margin: 10px 0 20px;
  padding: 15px 20px 16px;
  text-align: center;
}
/* line 116, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-action-help {
  color: #9b9b9b;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 20px;
}
/* line 123, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-receipt {
  border-top: 1px solid #ccc;
  padding: 30px 0 10px;
}
/* line 127, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-receipt table {
  margin: 0 0 20px;
  width: 100%;
}
/* line 131, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-receipt table tr td {
  padding: 2px 0;
}
/* line 134, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-receipt table tr td:last-child {
  text-align: right;
}
/* line 141, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings {
  border-top: 1px solid #ccc;
  padding-top: 48px;
  padding: 48px 0 20px;
}
/* line 145, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings.no-top-border {
  border-top: none;
}
/* line 151, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-item td {
  padding-bottom: 28px;
}
/* line 155, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-item-image {
  padding: 0;
  position: relative;
  vertical-align: top;
}
/* line 160, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-item-image img {
  border-radius: 4px;
}
/* line 165, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-item-seller {
  height: 48px;
  position: absolute;
  right: 10px;
  top: -16px;
  width: 48px;
}
/* line 172, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-item-seller img {
  border-radius: 100%;
  border: 3px solid #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  max-width: 100%;
}
/* line 182, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-text {
  padding: 0 0 0 20px;
  vertical-align: top;
}
/* line 185, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-text small {
  color: #9b9b9b;
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 10px;
}
/* line 193, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-text p {
  font-size: 14px;
  margin: 0;
}
/* line 199, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-text.no-padding {
  padding: 0 0 28px 0;
}
/* line 204, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .email-listings-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 0 10px;
}
/* line 212, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .best-regards {
  border-bottom: 1px solid #d8d8d8;
  padding: 25px 0 20px;
}
/* line 217, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .non-whitelabel-branding {
  border-top: 1px solid #d8d8d8;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  padding: 20px 0;
}
/* line 225, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .unsubscribe {
  border-top: 1px solid #d8d8d8;
  color: #9b9b9b;
  font-size: 12px;
  line-height: 16px;
  padding: 20px 0;
}
/* line 232, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .unsubscribe a {
  color: inherit;
}
/* line 237, /home/khaleef/own_things/projects/shareoregon2/app/assets/stylesheets/email-v2.scss */
.email-body .email-container .invitation {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: 1px dotted grey;
  color: gray;
  font-family: Helvetica Neue, Arial, Helvetica, Arial, sans-serif;
  font-size: 12px;
}
