.icon-styling {
  color: #009aee !important;
}
.email-text-description {
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:16px!important;
  font-weight:100px;
  color:#898989;
  font-style:italic;
  line-height:22px;
  margin-top:0;
  margin-bottom:8px;
}