.icon-with-text-container .text-part {
  font-weight: bold !important;
}
.listing-fb-like-button {
  width: 95px;
}
.listing-tweet-button  {
  width: 40px;
}
.fb_iframe_widget {
  float: left;
  width: 126px;
}
.abcRioButtonBlue .abcRioButtonContentWrapper {
  border: 0px solid transparent !important;
}
.abcRioButtonIcon {
  padding: 16px !important;
}
.abcRioButtonBlue {
  border-radius: 0.3125em !important;
  width: 100% !important;
  height: 100% !important;
}
.centered-section a.fb-connect .fb-text, .centered-section-wide a.fb-connect .fb-text, .centered-section-narrow a.fb-connect .fb-text {
  text-align: center !important;
}