.icon-with-text-container .text-part {
  font-weight: bold !important;
}
.fb_iframe_widget {
  float: left;
}
.abcRioButtonBlue .abcRioButtonContentWrapper {
  border: 0px solid transparent !important;
}
.abcRioButtonIcon {
  padding: 15px !important;
}
.abcRioButtonBlue {
  border-radius: 0.3125em !important;
  width: 100% !important;
  height: 100% !important;
}
.centered-section a.fb-connect .fb-text, .centered-section-wide a.fb-connect .fb-text, .centered-section-narrow a.fb-connect .fb-text {
  text-align: center !important;
  padding: 0.0625em 0.625em 0.4375em 3.6875em !important;
}
.set-padding {
  width: 140px;
}
#cke_18 {
  display: none !important;
}
#cke_elementspath_11_1 {
  display: none !important;
}
#cke_elementspath_11_0 {
  display: none !important;
}
#cke_17 {
  display: none !important;
}
#cke_19 {
  display: none !important;
}
#cke_27 {
  display: none !important;
}
#cke_31 {
  display: none !important;
}
#cke_48 {
  display: none !important;
}
#cke_31 {
  display: none !important;
}
#cke_49 {
  display: none !important;
}
#cke_52 {
  display: none !important;
}
.sumome-button {
  background-color: #009aee !important;
}
.home-categories-link.selected, .selected.home-categories-main, .selected.home-categories-sub {
  font-size: 15pt;
}