.g-signin2{"data-height" => "200", "data-longtitle" => "true", "data-width" => "300"}

%a#fb-login.google-connect{:href => person_google_oauth2_omniauth_authorize_path }
  = icon_tag("google", ["google-icon"])
  .google-text= button_text
